talleres/taller structuras/gitignore/29-070-Vega-Rivera-informe-22.pdf
talleres/taller structuras/gitignore/29-070-Vega-Rivera-programa-22.cpp
talleres/taller structuras/gitignore/*.exe
talleres/taller structuras/luis.cpp
talleres/taller structuras/gitignore/Datos.txt

talleres/taller final/*.exe
